In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [40]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
#results = session.query(Measurement.tobs).\
#filter(Measurement.date >= dt.date(2017, 6, 1)).\
#filter(Measurement.date <= dt.date(2017, 6, 31)).all()

results = session.query(Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "06")
results

In [36]:
#  3. Convert the June temperatures to a list.
jun_temps =  list(np.ravel(results))
jun_temps

In [37]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
jun_temps_df = pd.DataFrame(jun_temps)

In [38]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
jun_temps_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,230,231,232,233,234,235,236,237,238,239
count,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
unique,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
top,(78.0),(76.0),(78.0),(76.0),(77.0),(78.0),(77.0),(78.0),(78.0),(79.0),...,(79.0),(80.0),(78.0),(80.0),(80.0),(81.0),(80.0),(79.0),(79.0),(75.0)
freq,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

## D2: Determine the Summary Statistics for December

In [47]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
#results = session.query(Measurement.tobs).\
#filter(Measurement.date >= dt.date(2016, 12, 1)).\
#filter(Measurement.date <= dt.date(2016, 12, 31)).all()

results = session.query(Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "12")
results

In [48]:
# 7. Convert the December temperatures to a list.
dec_temps =  list(np.ravel(results))
dec_temps

[75.0,
 72.0,
 69.0,
 71.0,
 68.0,
 67.0,
 69.0,
 73.0,
 70.0,
 70.0,
 70.0,
 66.0,
 67.0,
 70.0,
 66.0,
 62.0,
 71.0,
 73.0,
 69.0,
 77.0,
 74.0,
 71.0,
 72.0,
 74.0,
 74.0,
 74.0,
 74.0,
 71.0,
 73.0,
 69.0,
 66.0,
 73.0,
 71.0,
 71.0,
 69.0,
 68.0,
 70.0,
 71.0,
 72.0,
 70.0,
 71.0,
 72.0,
 68.0,
 68.0,
 70.0,
 70.0,
 63.0,
 71.0,
 67.0,
 69.0,
 74.0,
 72.0,
 70.0,
 69.0,
 73.0,
 74.0,
 74.0,
 73.0,
 71.0,
 72.0,
 69.0,
 71.0,
 75.0,
 77.0,
 75.0,
 77.0,
 76.0,
 76.0,
 75.0,
 72.0,
 76.0,
 75.0,
 72.0,
 72.0,
 75.0,
 69.0,
 75.0,
 74.0,
 78.0,
 77.0,
 76.0,
 72.0,
 73.0,
 74.0,
 74.0,
 74.0,
 73.0,
 73.0,
 71.0,
 72.0,
 72.0,
 70.0,
 68.0,
 74.0,
 71.0,
 70.0,
 70.0,
 70.0,
 68.0,
 68.0,
 68.0,
 66.0,
 71.0,
 76.0,
 73.0,
 70.0,
 68.0,
 71.0,
 71.0,
 68.0,
 76.0,
 75.0,
 75.0,
 75.0,
 70.0,
 70.0,
 74.0,
 73.0,
 72.0,
 78.0,
 67.0,
 69.0,
 71.0,
 74.0,
 63.0,
 76.0,
 76.0,
 71.0,
 76.0,
 77.0,
 73.0,
 71.0,
 78.0,
 78.0,
 75.0,
 75.0,
 72.0,
 77.0,
 72.0,
 74.0,
 70.0,
 72.0,
 70.0,
 67.0,
 67.0,
 69.0,
 70.0,
 68.0,
 69.0,
 69.0,
 66.0,
 65.0,
 68.0,
 62.0,
 75.0,
 70.0,
 69.0,
 76.0,
 76.0,
 74.0,
 73.0,
 71.0,
 74.0,
 74.0,
 72.0,
 71.0,
 72.0,
 74.0,
 69.0,
 67.0,
 71.0,
 71.0,
 67.0,
 76.0,
 67.0,
 67.0,
 68.0,
 71.0,
 68.0,
 68.0,
 69.0,
 65.0,
 70.0,
 69.0,
 64.0,
 60.0,
 67.0,
 72.0,
 73.0,
 70.0,
 68.0,
 69.0,
 69.0,
 69.0,
 71.0,
 71.0,
 71.0,
 69.0,
 65.0,
 65.0]

In [44]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temps)

In [45]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

                0
count  200.000000
mean    71.130000
std      3.419292
min     60.000000
25%     69.000000
50%     71.000000
75%     74.000000
max     78.000000

# EXTRA

In [20]:
#First Date
session.query(Measurement.date).order_by(Measurement.date).first()

('2010-01-01',)

In [17]:
session.query(Measurement.date)

In [41]:
results = session.query(Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "12")
results

In [22]:
print(dt.date.today())
# Print a specific date 
print(dt.date(2017,10 ,8))

2022-02-20
2017-10-08

In [25]:
dt.date.today().strftime("%m")

'02'